<div class="message mb-3">
  <div class="content-container">
    <p class="content"><%= message.content %></p>
    <div class="auth">
      <%= message.user.full_name %>
    </div>
  </div>
</div>
<br>