<div class="form-post">
  <div>
    <label>Title</label>
    <input type="text"  class="post-title col-8 form-control">
  </div>
  <div>
    <label>Content</label>
    <textarea type="text" rows="5"  class="post-content col-8 form-control"></textarea>
  </div>
  <div>
    <label>Youtube link</label>
    <input type="text"  class="post-youtube col-8 form-control">
  </div>
  <div>
    <label>Facebook link</label>
    <input type="text"  class="post-facebook col-8 form-control">
  </div>
  <div>
    <label>Twitter link</label>
    <input type="text"  class="post-twitter col-8 form-control">
  </div>
  <div>
    <label>Tiktok link</label>
    <input type="text"  class="post-tiktok col-8 form-control">
  </div>
  <div>
    <label>Images</label>
    <input type="file"  class="post-images col-8 form-control">
  </div>
</div>