<div class="form-post">
  <div class="mt-2 mb-2">
    <label class="mb-1">Title</label>
    <input type="text"  class="post-title col-8 custom-form-control form-control">
  </div>
  <div class="mt-2 mb-2">
    <label class="mb-1">Content</label>
    <textarea type="text" rows="5"  class="post-content col-8 custom-form-control form-control"></textarea>
  </div>
  <div class="mt-2 mb-2">
    <label class="mb-1">Youtube link</label>
    <input type="text"  class="post-youtube col-8 custom-form-control form-control">
  </div>
  <div class="mt-2 mb-2">
    <label class="mb-1">Facebook link</label>
    <input type="text"  class="post-facebook col-8 custom-form-control form-control">
  </div>
  <div class="mt-2 mb-2">
    <label class="mb-1">Twitter link</label>
    <input type="text"  class="post-twitter col-8 custom-form-control form-control">
  </div>
  <div class="mt-2 mb-2">
    <label class="mb-1">Tiktok link</label>
    <input type="text"  class="post-tiktok col-8 custom-form-control form-control">
  </div>
  <div class="mt-2 mb-2">
    <label class="mb-1">Images</label>
    <input type="file"  class="post-images col-8 custom-form-control form-control">
  </div>
</div>