<div class='block-post'>
  <div class='user-post d-flex justify-content-between align-items-center'>
    <div class='avata d-flex justify-content-start align-items-center'>
      <img src='/assets/null-avata.png' alt='profileImg'>
      <p>#{value['user']['full_name']}</p>
    </div>
    <p>#{moment(value['created_at']).fromNow()}</p>
  </div>
  <div class='content-post'>
    <p class='title'>#{value['post']['title']}</p>
    <p class='content'>#{value['post']['content']}</p>
    #{getImage(value['post']['images'])}
  </div>
  <div class='comment'>
    <div class='count-likes-comments d-flex justify-content-start align-items-center'>
      <p>0 Likes</p>
      <p>0 Comments</p>
    </div>
    <div class='icon-action d-flex justify-content-start align-items-center'>
      <p class='pointer'><i class='far fa-thumbs-up'></i> like</p>
      <p class='pointer'><i class='far fa-comment'></i> Comment</p>
    </div>
    <div class='avata-comment d-flex justify-content-start align-items-center'>
      <img src='/assets/null-avata.png' alt='profileImg'>
      <input type='text' class='form-control'>
      <input type='button' class='btn-post form-control' value='Post'>
    </div>
  </div>
</div>