$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$color-grey: #565759;

$bg-grey: #f1f1f1;

$border-grey: #b5b6b8;

$main-blue: #006bb6;
$main-white: #fff;
$main-black: #000;

$fw-normal: 400;
$fw-light: 300;
$fw-semi-bold: 600;

$box-shadow: 0 3px 6px #00000029;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-26: 26px;
$font-28: 28px;
$font-30: 30px;
$font-32: 32px;
$font-35: 35px;
