@import "variable";
.pointer {
  cursor: pointer;
}
p{
  margin: 0 !important;
}
.custom-form-control {
  outline: none;
  box-shadow: none !important;
  border: 1px solid $border-grey !important;
}
.toast {
  right: 0;
  top: 50px;
  z-index: 100000;
  text-align: center;
  &.toast-success {
    background-color: $green-laurel;
    color: $main-white;
    font-weight: $fw-semi-bold;
  }
  &.toast-warning {
    background-color: $red-orange;
    color: $main-white;
    font-weight: $fw-semi-bold;
  }
  &.toast-danger {
    background-color: $text-error;
    color: $main-white;
    font-weight: $fw-semi-bold;
  }
}

#navbar {
  background-color: $main-blue;
  top: -60px;
  width: 100%;
  display: flex;
  transition: top 0.3s;
  padding: 6px 0;
  // max-height: 60px;
  .menu {
    display: grid;
    align-items: center;
    grid-gap: 40px;
    grid-template-columns: 1fr 2.5fr 1fr;
    @include respond("md") {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 3%;
    }
  }
  .label-menu {
    gap: 34px;
    align-items: center;
    .item-menu {
      opacity: 0.5;
      cursor: pointer;
      text-decoration: none;
      i {
        color: $main-white;
        font-size: 28px;
      }
      p {
        color: $main-white;
        margin: 0;
      }
      &.active {
        opacity: 1;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .login-logout {
    .avata {
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
    .item-menu {
      i {
        color: $main-white;
        font-size: 28px;
      }
      p {
        color: $main-white;
        margin: 0;
      }
      &.active {
        opacity: 1;
      }      
    }
  }
}
.open-setting {
  .bar-setting  {
    box-shadow: $box-shadow;
    display: none;
    right: 0px;
    top: 0px;
    background: $main-white;
    .avata {
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
    .arrow-right {
      line-height: 65px;
      align-items: center;
      display: flex;
      justify-content: center;
      span {
        font-size: 60px;
      }
    }
    .item-list {
      height: 100vh;
      overflow: auto;
      list-style: none;
      padding: 0 0 20px;
      .item {
        padding: 5px 20px 5px 25px;
        font-size: 16px;
        color: $main-black;
        font-weight: 300;
        a {
          font-size: $font-20;
          text-decoration: none;
          justify-content: space-between;
        }
        &:hover {
          background: $bg-grey;
        }
      }
    }
  }
 
}
.home-section {
  clear: both;
}