@import "variable";

.users {
    .user-header {
        display: grid;
        grid-template-columns: 1fr 3.5fr 3.5fr 3.5fr 3.5fr 3.5fr 3.5fr 3.5fr 3.5fr;
        grid-gap: 20px;
        padding: 1%;
        border-bottom: 1px solid #b5b6b8;
        align-items: center;
        color: #565759;
        p {
            font-size: 20px;
            font-weight: 600;
            margin: 0;
        }
    }
    .user {
        display: grid;
        grid-template-columns: 1fr 3.5fr 3.5fr 3.5fr 3.5fr 3.5fr 3.5fr 3.5fr 3.5fr;
        grid-gap: 20px;
        padding: 1%;
        border-bottom: 1px solid #b5b6b8;
        align-items: center;
        color: #565759;
        p {
            font-size: 18px;
            margin: 0;
        }
    }
}

.form-login,.form-forget-password,.form-signup {
    display: grid;
    grid-template-columns: 0.4fr;
    justify-content: center;
    @include respond("sm") {
        display: block;
    }
}